* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
  padding: 1.5rem 1.5rem;
}
section {
  margin-top: 2rem;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .items {
    display: flex;
    gap: 0.6rem;
    align-items: center;

    .btn {
      display: none;
      text-transform: uppercase;
      background-color: black;
      padding: 0.6rem 1rem;
      color: white;
      letter-spacing: 1px;
      font-size: 0.8rem;
      border-radius: 2rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .menu {
    display: none;
    a {
      text-transform: uppercase;
    }
  }
}

.view-1 {
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
  }

  .text {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    .left,
    .right {
      font-size: 0.6rem;
      width: fit-content;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.view-2 {
  width: 100%;
  img {
    width: 100%;
  }
  .detail {
    margin-top: 1rem;

    h2 {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    p {
      margin-top: 1rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }

    .list {
      width: 100%;
      .item {
        width: 100%;
        display: flex;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.4);
        justify-content: space-between;
        p {
          font-size: 1.6rem;
          text-transform: uppercase;
        }
      }
    }
  }
}

.view-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  .middle {
    display: flex;
    padding-top: 2rem;
    gap: 1rem;
    flex-direction: row-reverse;
    .first {
      h2 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 100;
      }
      p {
        font-size: 1.4rem;
        margin-top: 1rem;
        letter-spacing: 1px;
      }
    }

    .second {
      writing-mode: vertical-lr;
      font-size: 1rem;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}

.view-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;

  .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 200;
    }

    .grid {
      display: grid;
      grid-template-columns: auto;
      .card {
        padding-top: 1rem;
        border-top: 1px solid rgba(128, 128, 128, 0.4);

        padding-bottom: 2rem;

        h3 {
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        p {
          font-size: 1.2rem;
          margin-top: 0.8rem;
          letter-spacing: 1px;
          color: gray;
        }

        .about {
          margin-top: 1.2rem;

          a {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            svg {
              background-color: rgb(0, 0, 0);
              border-radius: 50%;
              color: white;
              padding: 0.4rem;
              rotate: 45deg;
            }
          }
        }
      }
    }
  }
}

.view-5 {
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
  }

  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 0.6rem;
    margin-top: 1rem;
    .list-first {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .list-second {
      display: flex;
      flex-direction: column-reverse;
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    img {
      margin-top: 1rem;
    }

    .two,
    .four {
      display: none;
    }

    .card {
      .heading {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 1px;
      }
      p {
        margin-top: 0.4rem;
      }

      .div {
        margin-top: 1.2rem;

        a {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          font-size: 0.8rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          svg {
            background-color: rgb(0, 0, 0);
            border-radius: 50%;
            color: white;
            padding: 0.4rem;
            rotate: 45deg;
          }
        }
      }
    }
  }
}

.view-6 {
  width: 100%;
  display: flex;
  padding-bottom: 6rem;
  border-bottom: 1px solid gray;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .head {
      text-align: end;
      font-size: 4rem;
      font-weight: 300;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;

      width: 100%;
      .list-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
        .left {
          display: flex;
          gap: 1rem;
          justify-content: center;
          flex-direction: column;
          p {
            font-size: 1.5rem;
            text-transform: uppercase;
          }
        }

        .right {
          font-size: 0.6rem;
          text-transform: uppercase;
        }
      }
    }
  }
}

.view-7 {
  padding: 1rem 0;
  width: 100%;

  display: flex;
  gap: 2rem;
  flex-direction: column;

  .first {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    h2 {
      font-size: 2.2rem;
      font-weight: 100;
      letter-spacing: 1px;
    }
    p {
      width: 90%;
      letter-spacing: 1px;
      font-size: 1.3rem;
    }
  }

  .second {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;

    .card {
      display: flex;
      gap: 0.8rem;
      flex-direction: column;

      .title {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 100;
      }
      img {
        width: 100%;
        object-fit: cover;
      }

      .posIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          text-transform: uppercase;
          font-size: 0.7rem;
        }

        .icons{
          display: flex;
          justify-content: center;
          gap:.4rem;
          svg{
            width: 1rem;
          }
        }

      }

      .description {
        width: 100%;
        font-size: 1.2rem;
        letter-spacing: 1.4px;
        color: gray;
      }
    }
  }
}

//* Media query

@media (min-width: 1024px) {
  main {
    padding: 2.5rem 3.5rem;
  }
  .navbar {
    .menu {
      display: flex;
      gap: 2rem;
    }
    .items {
      display: flex;
      gap: 0.6rem;
      align-items: center;
      .btn {
        display: flex;
        margin-left: 1rem;
      }
      .cart {
        padding-left: 1.6rem;
      }
      svg {
        display: none;
      }
    }
  }

  .view-1 {
    .text {
      margin-top: 1.5rem;
      .left,
      .right {
        font-size: 0.8rem;
      }
    }
  }

  .view-2 {
    display: flex;
    flex-direction: row-reverse;

    img {
      width: 50%;
      object-fit: cover;
      height: inherit;
    }
    .detail {
      padding: 2rem 2rem 0 0;

      h2 {
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1;
      }
      p {
        width: 100%;
        margin-top: 1rem;
        font-size: 2rem;
        letter-spacing: 1px;
      }

      .list {
        width: 100%;
        .item {
          width: 100%;
          display: flex;
          padding: 1rem 0;
          border-bottom: 1px solid rgba(128, 128, 128, 0.4);
          justify-content: space-between;
          p {
            width: fit-content;
            font-size: 2rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .view-3 {
    flex-direction: row;

    img {
      width: 30%;
    }
    .middle {
      display: flex;
      padding-top: 2rem;

      flex-direction: row;
      padding-left: 2rem;
      .first {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          font-size: 4.5rem;
          text-transform: uppercase;
          font-weight: 100;
          line-height: 1;
        }
        p {
          width: 75%;
          color: gray;
          font-size: 1.3rem;
        }
      }

      .second {
        writing-mode: vertical-lr;
        font-size: 1rem;
        letter-spacing: 2px;
      }
    }
  }

  .view-4 {
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 4rem;

    .left {
      gap: 2rem;
      h2 {
        width: 60%;
        font-size: 4rem;
      }
      .grid {
        grid-template-columns: auto auto;
        gap: 1rem;
      }
    }
    .img3 {
      width: 50%;
    }
  }

  .view-5 {
    width: 100%;

    .gallery {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .list-first,
      .list-second {
        width: 100%;
        display: grid;
        gap: 1rem;

        grid-template-columns: auto auto auto;

        img {
          width: 100%;
        }
        .two,
        .four {
          display: block;
        }

        .card {
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 2rem;
          div {
            h4 {
              font-size: 3rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .view-6 {
    width: 100%;
    display: flex;
    justify-content: end;

    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 60%;
      .head {
        text-align: end;
        font-size: 4rem;
        font-weight: 300;
      }

      .list {
        width: 100%;
        gap: 2rem;
        .list-item {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          padding-bottom: 1rem;
          border-bottom: 1px solid black;
          .left {
            display: flex;
            gap: 1rem;
            flex-direction: row;
            align-items: center;
            p {
              font-size: 1.5rem;
              text-transform: uppercase;
            }
          }

          .right {
            font-size: 0.6rem;
          }
        }
      }
    }
  }

  .view-7 {

    gap: 4rem;

    .first {
      width: 100%;
      flex-direction: row;
      flex: 1;
      align-items: end;

      h2 {
        width: 100%;
        font-size: 6rem;
      }
      p {
        width: 100%;
        letter-spacing: 1px;
        font-size: 1.2rem;
      }
    }

    .second {
 
      flex-direction: row;
      flex: 1;
      .card {
        img {
          height: 400px;
        }

        .description {
     
          font-size: 1rem;
    
        }
      }
    }
  }
}
